body{
	/*background-image: url("C:/Users/DELL/Desktop/images/rain1.png");
	background-repeat: no-repeat;
	background-size: 100%;*/
	padding-top: 70px;
	background: #076585;  /* fallback for old browsers */
 background: -webkit-linear-gradient(to right, #fff, #076585);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #fff, #076585); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
/*background: #DAE2F8;  /* fallback for old browsers */
 /*background: -webkit-linear-gradient(to right, #D6A4A4, #DAE2F8);  /* Chrome 10-25, Safari 5.1-6 */
/* background: linear-gradient(to right, #D6A4A4, #DAE2F8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */




}
#container{
	background-color: pink;
	width: 400px;
	margin: 0 auto;
	margin-top: 20px;
}
#date{
	text-align: center;
	width: 350px;
	margin:0 auto;
	font-family: fantasy;
	font-size: 25px;
	color: #f3380ebd; 
}
#toggle{
	text-align: center;
	margin:  30px;
	width: 100px;
	margin: 0 auto;
	margin-left: 600px;
	margin-top: 20px;
	padding: 6px;
	background-color: #3afb3aab;
	font-weight: bold;
}
#clear{
	text-align: center;
	width: 100px;
	margin: 0 auto;
	padding: 6px;
	background-color: #ee2c2ce6;
	font-weight: bold;
}
hr{
	height: 2px;
	width: 400px;
	background-color: #f39c0bd4;
}
h1{
	text-align: center;
	border: 2px double black;
	background-color: #5158e1d6;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
	font-family: serif;
	text-transform: uppercase;
	text-decoration: underline;
}
input{
	font-size: 20px;
	width: 100%;
	box-sizing: border-box;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 15px;
	color: orange;
	font-family: monospace;
}
input:focus{
	border:2px double blue; 
	outline: transparent;
}
ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
li{
	font-family: cursive;
	height: 40px;
	line-height: 50px;
	text-align: center;
	text-transform: capitalize;

}
li:nth-of-type(2n){
	background-color: #2b37e882;
}
span{
	background-color: red;
	height: 40px;
	width: 0px;
	display: inline-block;
	transition: .5s linear;
	float: left;
}
li:hover span{
	width: 40px;
	display: inline-block;
}
.fa-plus{
	float: right;
}